[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
certifi = "==2020.12.5"
chardet = "==3.0.4"
idna = "==2.10"
py = "~=1.9.0"
requests = "==2.25.0"
urllib3 = "==2.0.4"

[requires]
python_version = "3.8"
